@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #f8f9fa;
}

.container {
    width: 99.90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #480ca8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.menu, .filtros {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #6CA80C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    margin: 5px;
}

button:hover {
    transform: scale(1.05);
    background-color: #6CA80C;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Centraliza o texto */
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:hover {
    background-color: #f5f5f5;
}

.alert {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #D8000C;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

button[type="submit"] {
    font-size: 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-box {
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.confirmation-box button {
    background-color: #6CA80C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    margin: 5px;
}

.confirmation-box button[type="button"] {
    background-color: #d9534f;
}

.confirmation-box button[type="button"]:hover {
    background-color: #c9302c;
}

.confirmation-box button:hover {
    transform: scale(1.05);
    background-color: #5b8c0c;
}
