@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #f8f9fa;
}

.container {
    width: 99.90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #480ca8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.menu {
    margin: 20px 0;
    text-align: center;
}

.menu button {
    display: inline-block;
    text-decoration: none;
    background-color: #6CA80C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
}

.menu button:hover {
    transform: scale(1.05);
    background-color: #6CA80C;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
}

table th {
    background-color: #480ca8;
    color: #fff;
    text-transform: uppercase;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #480ca8;
}

table td .delete {
    color: red;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    margin: 20px 0;
}

.popup button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all linear 160ms;
}

.popup .confirm {
    background-color: #6CA80C;
    color: #fff;
    border: none;
    float: right;
}

.popup .confirm:hover {
    transform: scale(1.05);
    background-color: #6CA80C;
}

.popup .cancel {
    background-color: #dc3545;
    color: #fff;
    border: none;
    float: left;
}

.popup .cancel:hover {
    transform: scale(1.05);
    background-color: #c82333;
}