@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #f8f9fa;
}

.container {
    width: 99.90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #480ca8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.chamado-detalhes {
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

.chamado-detalhes p {
    margin: 10px 0;
}

.menu {
    margin-top: 20px;
}

.menu button {
    display: inline-block;
    text-decoration: none;
    background-color: #6CA80C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
}

.menu button:hover {
    transform: scale(1.05);
    background-color: #6CA80C;
}
